* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
}

/* MAIN CONTAINER */
.login-container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE IMAGE */
.login-left {
    width: 60%;
    background: url("college.jpg") no-repeat center center/cover;
    position: relative;
}

/* DARK OVERLAY */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(20, 0, 60, 0.75);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.overlay h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.overlay p {
    font-size: 18px;
    color: #ddd;
}

/* RIGHT SIDE LOGIN */
.login-right {
    width: 40%;
    background: #ffffff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-right h2 {
    margin-bottom: 30px;
    color: #2a0a5e;
}

.login-right label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

.login-right input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login-right button {
    background: #6a4cff;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.login-right button:hover {
    background: #5638e0;
}

.note {
    margin-top: 30px;
    font-size: 12px;
    color: #777;
}
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

